<!DOCTYPE html>
<html lang="vi" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Trang quản trị GymFitness" name="description">
    <title>Admin Dashboard - GymFitness</title>

    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{/templates/shared/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/templates/shared/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/templates/admin/assets/css/admin-style.css}">
    <th:block layout:fragment="custom-css"></th:block>
</head>

<body>
<div class="dashboard-container">
    <!-- Sidebar Begin -->
    <nav th:replace="~{/admin/fragments/sidebar :: sidebar}"></nav>
    <!-- Sidebar End -->

    <!-- Content Begin -->
    <div id="content">
        <nav th:replace="~{/admin/fragments/content-navbar :: content-navbar}"></nav>
        <section class="container-fluid" layout:fragment="content"></section>
    </div>
    <!-- Content End -->
</div>

<!-- JavaScript Files -->
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
<script th:src="@{/templates/shared/assets/js/main.js}"></script>
<script th:src="@{/templates/admin/assets/js/admin.js}"></script>
<th:block layout:fragment="custom-js"></th:block>
<script th:inline="javascript" type="module">
    import toast from "/templates/shared/assets/js/utils/toast.js";

    document.addEventListener("DOMContentLoaded", () => {
        const toastType = /*[[${toastType}]]*/ null;
        const toastMessage = /*[[${toastMessage}]]*/ null;
        if (toastType && toastMessage) {
            toast[toastType](toastMessage, {
                duration: 3000,
                icon: true,
                progress: toastType === "success"
            });
        }
    });
</script>
</body>

</html>