<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="assets/css/register.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
<div class="page-form">
  <div class="inner-form">
    <div class="title-login">
      <h2>Welcome to fitness</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
    <div class="form-login">
      <h2>SIGN UP</h2>
      <form action="" class="inner-form1" id="form-register">
        <div class="inner-group">
          <label class="inner-label" for="fullName">Họ tên</label>
          <input class="inner-control" type="text" name="fullName" id="fullName" placeholder="Ví dụ: Lê Văn A">
        </div>
        <div class="inner-group">
          <label class="inner-label" >Email</label>
          <input type="text" class="inner-control" placeholder="Email" name="username">
        </div>
        <div class="inner-group">
          <label class="inner-label" >Password</label>
          <input type="password" class="inner-control" placeholder="Password" name="password">
        </div>
        <div class="inner-group">
          <label class="inner-label" >Confirm password</label>
          <input type="password" class="inner-control" placeholder="Password" name="password">
        </div>
        <div class="inner-meta">
          <div class="inner-confirm">
            <input class="inner-check" type="checkbox" name="agree" id="agree">
            <label class="inner-label" for="agree">Tôi chấp nhận các điều khoản và điều kiện</label>
          </div>
        </div>
        <button class="inner-button" id="register">Register</button>
        <div class="inner-link">
          <a href="#">
            <div class="inner-social">
              <i class="fa-brands fa-facebook"></i>
            </div>
          </a>

          <a href="#">
            <div class="inner-social">
              <i class="fa-brands fa-google"></i>
            </div>
          </a>

          <a href="#">
            <div class="inner-social">
              <i class="fa-brands fa-twitter"></i>
            </div>
          </a>

        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/register.js"></script>
</body>
</html>