<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerFragment">
    <header class="header">
        <div class="header_notice">
            <!-- Thêm banner/thông báo nếu cần -->
            <img src="/" class="header_notice_img">
        </div>
        <div class="header_body">
            <div class="header_body_logo">
                <a href="/">
                    <img th:src="@{/images/logo.png}" alt="Website Logo" width="120">
                </a>
            </div>
            <div class="header_body_menu">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/courses">Khóa học</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/feedback">Phản hồi</a></li>
                </ul>
            </div>
            <div class="header_body_account">
                <div th:if="${user == null}">
                    <a href="/login" class="btn-login">Đăng nhập</a>
                    <a href="/register" class="btn-register">Đăng ký</a>
                </div>

                <div th:if="${user != null}" class="user-info">
                    <img th:src="@{/images/avatars/{img}(img=${user.avatar})}"
                         alt="avatar"
                         width="40"
                         height="40"
                         class="user-avatar"/>
                    <span th:text="${user.fullName}" class="user-name">Tên người dùng</span>
                    <a href="/logout" class="btn-logout">Đăng xuất</a>
                </div>
            </div>
        </div>
    </header>
</div>
</html>